<h2>Sign up</h2>
<%= form_with(model: Student.new, local: true) do |form| %>

  <div class="field">
    <%= form.label :student_name %>
    <%= form.text_field :student_name %>
  </div>

  <div class="field">
    <%= form.label :class %>
    <%= form.text_area :class1 %>
  </div>


  <%= form.fields_for :user, User.new do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
