

<h1>Your Book Details</h1>
<% if current_user%>
<table>
  <thead>
    <tr>
      <th>Book Assign Date....................</th>
      <th>Book Due Date.....................</th>
       <th>Book Return Date.....................</th>
      <th>Book Name</th>
    </tr>
  </thead>

  <tbody>
    <% @book_ragisters.each do |book_ragister| %>
      <tr>
        <td><%= book_ragister.assign_date %></td>
        <td><%= book_ragister.due_date %></td>
         <td><%= book_ragister.return_date %></td>
        <td><%= book_ragister.book.book_name %></td>         
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @book_ragisters %>
<%else%>
<h1>plz login first</h1>
<%end%>
<br>