<%= form_with(model:book_ragister, local: true) do |form| %>
 

  <div class="field">
    <%= form.label :assign_date %>
    <%= form.date_field :assign_date %>
  </div><br>

    <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div><br>

  <div class="field">
    <%= form.label :book_name %><br>
    <%= form.collection_select :book_id,Book.left_outer_joins(:book_ragisters).select(:book_name,:id) - Book.joins(:book_ragisters).select(:book_name,:id), :id, :book_name %><br>
  </div><br>
  <div class="field">
    <%= form.label :student_name %><br>
    <%= form.collection_select :student_id, Student.all, :id, :student_name %><br>
  </div><br>

  <div class="field">
    <%= form.label :library_name %><br>
    <%= form.collection_select :library_id, Library.all, :id, :library_name %><br>
  </div><br>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# Author.left_outer_joins(:books).select(:author_name) %>
 <%# Book.left_outer_joins(:book_ragisters).select(:book_name) %>